<h1> Flexible Payment </h1>

<h3> A <%= @the_period %>year loan of <%=@the_principal %>, with an annual interest rate of <%= @the_interest/100 %> %, requires a monthly payment of <%=number_to_currency(@the_payment.round(2)) %>. </h3>
