<h1>  Payment Calculations </h1>

<form action="/payment/results">
  <div>
    <label for="apr">
      APR
    </label>
    <input id="apr" type="text" name="usr_apr">
  </div>
  <div>
    <label for="year">
      Number of years
    </label>
    <input id="year" type="text" name="usr_year">
  </div>

  <div>
    <label for="principal">
      Principal
    </label>
    <input id="principal" type="text" name="usr_prin">
  </div>

  <button> Calculate monthly payment </button>
</form>
