<h1>  Random Calculations </h1>

<form action="/random/results">
  <div>
    <label for="min">
      Minimum
    </label>
    <input id="min" type="text" name="usr_min" >
  </div>

  <div>
    <label for="max">
      Maximum
    </label>
    <input id="max" type="text" name="usr_max">
  </div>

  <button> Pick random number </button>
</form>
