<h1>   Square Root Results </h1>
<div> <h3> Number </div>
  <%= @the_input %>
</h3>

<div> <h3> Square Root </div>
  <%= @the_squareroot %>
</h3>
<br>
<br>
<div>
  <a href="/square_root/new"> Enter New Number </a>
</div>
