<h1>  Square Calculations </h1>

<form action="/square/results">
  <div>
    <label>
      Enter a number
    </label>
    <input type="text" name="usr_num">
  </div>
  <button> Calculate Square </button>
</form>
