<h1>  Square Root Calculations </h1>

<form action="/square_root/results">
  <div>
    <label for="squarenum">
      Enter a number
    </label>
    <input id="squarenum" type="text" name="usr_num">
  </div>
  <button> Calculate square root </button>
</form>
